body {
    font-size: 100%;
}

html * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#dashboard-wrapper {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}

input {
    height: 30px;
    padding: 5px;
    width: auto;
}

#dashboard-wrapper form {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
}

#dashboard-wrapper form input[type="submit"] {
    width: 50%;
}

h2 {
    text-align: center;
}

#dashboard-wrapper .display-table {
    max-height: 400px;
    overflow-y: scroll;
}

#dashboard-wrapper .display-table .header {
    font-weight: bold;
    font-size: 120%;
    background-color: #8c8c8c;
}

#dashboard-wrapper .display-table .header > div,
#dashboard-wrapper .display-table .content > div {
    width: 20%;
    display: inline-block;
    padding: 10px 20px;
}

#dashboard-wrapper .display-table .content {
    font-size: 80%;
}

#dashboard-wrapper .display-table div.content:nth-child(even) {
    background: #CCC;
}
#dashboard-wrapper .display-table div.content:nth-child(odd) {
    background: #FFF;
}

