<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Tickets4Sale Ticket Availability</title>
        <meta name="description" content="A tool to check Ticket availability for Tickets4Sale">
        <meta name="author" content="Tickets4Sale">

        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>

    <body>
        {% block content %}{% endblock %}
    </body>
</html>