{% extends "base.html.twig" %}

{% block content %}
    {% set showDate = app.request.get('show_date') ? app.request.get('show_date') : "now"|date("Y-m-d") %}
    <div id="dashboard-wrapper">

        <form>
            <label>Show Date</label>
            <input name="show_date" type="date" placeholder="yyyy-mm-dd" required value="{{ showDate }}" />
            <input type="submit" value="Submit" />
        </form>
        {% if inventory is not empty %}

            {% for genreGroup in inventory %}

                {% if genreGroup.shows is not empty %}
                    {% spaceless %}
                        <h1>{{ genreGroup.genre }}</h1> <br />
                        <div class="display-table">
                            <div class="header">
                                <div>Title</div>
                                <div>Tickets Left</div>
                                <div>Ticket Available</div>
                                <div>Status</div>
                                <div>Price</div>
                            </div>
                            {% for show in genreGroup.shows %}
                                <div class="content">
                                    <div>{{ show.title }}</div>
                                    <div>{{ show.tickets_left }}</div>
                                    <div>{{ show.tickets_available }}</div>
                                    <div>{{ show.status }}</div>
                                    <div>{{ show.price }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endspaceless %}
                {% endif %}

            {% endfor %}

        {% else %}
            <h2>There are no shows for {{ showDate }}</h2>
        {% endif %}

    </div>
{% endblock %}